/* Write your CSS code here */
.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.nav-item {
  margin: 10px;
  font-size: 20px;
}
